<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="yellow">Missão</h2>
      <hr>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          Assegurar aos passageiros um deslocamento com qualidade, segurança e conforto, garantindo assim satisfação e motivação ao seu dia.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="yellow">Visão</h2>
      <hr>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          Ser solução no transporte, destacando-se pela confiabilidade, agilidade e segurança.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="yellow">Valores</h2>
      <hr>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          Compromisso com a melhoria contínua. Parcerias e responsabilidade com os clientes, fornecedores e colaboradores.
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <h2 class="yellow">Sobre</h2>
      <hr>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          Baseando-se nestes princípios a empresa Transpantanal foi criada, para proporcionar aos nossos clientes o que é fundamental no ramo, SEGURANÇA E QUALIDADE. Somos uma empresa com mais de 20 anos de experiência na área.
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <h2 class="yellow">Frota</h2>
      <hr>
      <br/>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="img/frota.png" alt="...">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="img/frota.png" alt="...">
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="img/frota.png" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>